[Unit]
Description=Video Server
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/video-server
Environment="PATH=/home/pi/video-server/video-server-env/bin"
ExecStart=/home/pi/video-server/video-server-env/bin/python run.py

[Install]
WantedBy=multi-user.target