{% extends "base.html" %}
{% block title %}Edit Metadata{% endblock %}

{% block header %}
	<header><h1>Edit Metadata</h1></header>
{% endblock header %}

{% block content %}
	<form action="" method="post" class="metadata-form">
		{% for datum in metadata %}
			{% if not datum['editable'] %}
				<p><span class="uneditable-label">{{ 'Directory' if datum['field'] == 'dirname' else datum['field'].title() }}</span></p>
				<p class="uneditable-content">{{ datum['value'] }}</p>
			{% else %}
				<label for="">{{ datum['field'].title() }}</label>
				<input type="{{ datum['type'] }}" name="{{ datum['field'] }}" value="{{ datum['value'] or '' }}">
			{% endif %}
		{% endfor %}
		<input type="submit" value="Save">
	</form>
	{% if error %}
		<p class="metadata-error">{{ error }}</p>
	{% endif %}
{% endblock content %}
