{% extends "base.html" %}
{% block title %}Media Server - Shows - {{ name }}{% endblock title %}

{% block header %}
	<header><h1>{{ name }}</h1></header>
{% endblock header %}

{% block content %}

	<section>
		{% for season in episodes | rejectattr('season', 'none') | groupby('season') %}
			<h3 class="season">Season {{ season.grouper }}</h3>
			<ul>
				{% for episode in season.list | sort(attribute='number') %}
					<a href="{{ url_for('.episode', episode_id=episode['id']) }}"><li>Episode {{ episode['number'] or 'unknown' }}</li></a>
				{% endfor %}
			</ul>
		{% endfor %}
	</section>

	<section>
		<h3 class="season">Unknown Season</h3>
		<ul>
			{% for episode in episodes | selectattr('season', 'none') %}
				<li>{{ episode['path'].split('/')[-1].split('.')[0] }}</li>
			{% endfor %}
		</ul>
	</section>

{% endblock content %}
