{% extends "base.html" %}
{% block title %}Media Server - Shows - {{ name }}{% endblock title %}
{% block header %}
	<header><h1>{{ name }}</h1></header>
{% endblock header %}
{% block content %}
	Stuff about the TV show.
	<h2>Episodes</h3>
	{% for season in episodes | rejectattr('season', 'none') | groupby('season') %}
		<h3>Season {{ season.grouper }}</h3>
		<ul>
			{% for episode in season.list %}
				<li><a href="{{ episode['url'] }}">Episode {{ episode['number'] or 'unknown' }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
	<h3>Unknown Season</h3>
	<ul>
		{% for episode in episodes | selectattr('season', 'none') %}
			<li>{{ episode['path'].split('/')[-1].split('.')[0] }}</li>
		{% endfor %}
	</ul>
{% endblock content %}
